@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --main-color: #d92123;
  --primary-text-color: #fff;
  --secondary-text-color: #191919;
  --secondary-color: #868686;
  --tertiary-color: #eff3f4;
  --secondary-bg-color: #5c1011;
  --ff-lato: 'Lato', sans-serif;
}

* {
  font-family: "Lato";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




a {
  text-decoration: none;
}

h2 {
  width: 100%;
}

#contact {
  width: 100%;
  background-color: var(--main-color);
  font-family: var(--ff-lato);
}

.section-contact {
  display: flex;
  margin-left: 0px;

  background-color: transparent;

}

.figure-contact {
  width: 65%;

}

.figure-contact img {
  width: 100%;
  margin-bottom: 45px;
  height: 90%;
}

.section-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

}

.figure-envelope {
  padding: 20px 30px;
  background-color: var(--tertiary-color);
  height: fit-content;
}

.section-form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
  row-gap: 10px;

}

label {
  display: flex;
  flex-direction: column;

  height: 6.5vh;

}

label input {
  height: 100%;
  padding-left: 10px;
  border: none;
  outline-color: var(--main-color);
}

label input::placeholder {
  font-size: 12px;
}

#phone,
#mensage {
  width: 100%;

}

#name,
#email {
  width: 49%;

}

#h2-titulo-contact {
  font-weight: bold;
  color: var(--primary-text-color);
  font-size: 14px;
  margin-bottom: 16px;
}

.button-send {
  background-color: var(--main-color);
  color: var(--primary-text-color);
  padding: 12px;
  font-family: var(--ff-lato);
  border: 1px solid var(--primary-text-color);
  font-weight: bold;
  cursor: pointer;
}

.button-send:hover {
  background-color: var(--primary-text-color);
  color: var(--main-color);
}

.footer {
  background-color: var(--secondary-bg-color);
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-between;
}


.footer-services, .footer-pages {
  color: var(--primary-text-color);
  font-family: 'Lato';
  position: relative;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-services h3 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-text-color);
  text-align: left;
  font-family: 'Lato';
  line-height: 40px;

}

li {
  list-style: none;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-tel {

  padding-top: 50px;
  font-family: var(--ff-lato);
  color: var(--primary-text-color);
  padding: 15px;
}

.footer-tel h3 {
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: var(--ff-lato);
}

.footer-tel p {
  color: var(--secondary-color);
  font-family: var(--ff-lato);
  font-size: 16px;
}

#footer-icon {
  background-color: var(--main-color);
  padding: 1px;
  display: flex;
}

#footer-number {
  width: 100%;
  color: var(--primary-text-color);
  padding: 5px 5px 5px 14px;
  display: flex;
}

#footer-description {
  padding-top: 18px;
}

.footer-tel img {
  padding: 6px;
}


.footer-pages {

  color: var(--primary-text-color);

  display: flex;
  flex-direction: column;
  gap: 60%;

}

li {
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 5px;
  padding-bottom: 10px;
}