:root {
  --main-color: #d92123;
  --primary-text-color: #fff;
  --secondary-text-color: #191919;
  --secondary-color: #868686;
  --tertiary-color: #eff3f4;
  --secondary-bg-color: #5c1011;
}

* {
  font-family: "Lato";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




a {
  text-decoration: none;
}

h2{
  width: 100%;
}
#contact{
  width:100%;
  background-color: var(--main-color);
  
  }

.section-contact {
  display: flex;
  margin:0 auto;
  width:90%;

  background-color: transparent;

}

.figure-contact {
  width: 90%;

}

.figure-contact img {
  width: 100%;
  margin-bottom: 45px;

}

.section-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

}

.figure-envelope{
  padding: 20px 30px;
  background-color: var(--tertiary-color);
  height: fit-content;
}

.section-form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 90%;
  margin: 0 auto;

  row-gap: 10px;

}

label {
  display: flex;
  flex-direction: column;

  height: 10vh;

}

label input, textarea{
  height: 100%;

}

#phone,
#mensage {
  width: 100%;
}

#name,
#email {
  width: 48%;
  
}
