:root {
  --main-color: #d92123;
  --primary-text-color: #fff;
  --secondary-text-color: #191919;
  --secondary-color: #868686;
  --tertiary-color: #eff3f4;
  --secondary-bg-color: #5c1011;
}

* {
  font-family: "Lato";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.section-form{
  display: flex;
  background-color: var(--main-color);
  padding-bottom: 40px;
}

.figure {
  width: 40%;
}


.figure img {
  width: 100%;

}

.figure-envelope{
  background-color: white;
  width: 5%;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
}

.section-form form{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}